<%- include("partials/header") -%>
			<h2 style="background-color: tomato;">Items already in the mess include:</h2>
			<ul>
				<% menuItems.forEach(function(item){ %>
					<li>
						<div class="img-thumbnail">
							<img style="width: 200px;" alt="<%=item.name%> image" src = "<%= item.image %>">
							<h4  class="caption"><%=item.name%></h4>
						</div>
					</li>
				<% }); %>
			</ul>

			<strong>Add new Menu Item</strong>
			<form class="form" action="/" method="POST">
				<input type="text" name="item" placeholder="Name of the Item">
				<input type="text" name="origin" placeholder="Origin">
				<input type="text" name="image" placeholder="Image">
				<button class="btn btn-primary">Submit</button>
			</form>

<%- include ("partials/footer") -%>